.alternatingColorTable tr:nth-child(even) td {
    background-color:lightgray;
    color:black;
}

.alternatingColorTable tr:nth-child(odd) td {
    background-color:whitesmoke;
    color:black;
}

.border-round {
    border-radius: 10px;
    border: solid gray;
    border-width: 5px;
}
